# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [18]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [19]:
city_data_df = pd.read_csv('../Weather Py/output_data/cities.csv')
city_data_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Ushuaia,-54.80,-68.30,35.60,93,75,24.16,AR,1603157210
1,Broome,42.25,-75.83,55.99,93,90,8.05,US,1603157265
2,Kruisfontein,-34.00,24.73,60.01,70,100,4.00,ZA,1603157265
3,Mar del Plata,-38.00,-57.56,54.00,62,0,16.11,AR,1603157265
4,Clyde River,70.47,-68.59,32.00,91,1,18.34,CA,1603157265

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [22]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [23]:
# Store lat and Long in locations
locations = city_data_df[["Lat", "Lng"]]

humidity = city_data_df["Humidity"]

fig = gmaps.Map()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity)

fig.add_layer(heat_layer)
fig

Map(configuration={'api_key': 'AIzaSyBfU8UHnBSO-gQJxRH2NVOc4a5kwzmr-u8'}, data_bounds=[(-50.90415628462267, -1â€¦

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [24]:
#Remove cities from the df that have temp over 80
nice_city_df = city_data_df.loc[city_data_df['Max Temp'] < 80, :]

#Remove cities with temp under 70
nice_city_df = nice_city_df.loc[nice_city_df['Max Temp'] > 70, :]

#Remove cities with wind speed over 10
nice_city_df = nice_city_df.loc[nice_city_df['Wind Speed'] < 10, :]

#Remove cities with clouds
nice_city_df = nice_city_df.loc[nice_city_df['Cloudiness'] == 0, :]
nice_city_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
13,Safaga,26.73,33.94,77.00,41,0,6.93,EG,1603157266
23,Hong Kong,22.29,114.16,75.99,69,0,1.99,HK,1603157071
111,Leeton,-34.57,146.40,72.00,37,0,5.82,AU,1603157277
113,Malakal,9.53,31.66,72.70,75,0,1.01,SS,1603157277
119,Sohag,26.56,31.69,75.20,36,0,3.36,EG,1603157278

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [25]:
hotel_df = nice_city_df
hotel_df['Hotel Name'] = np.nan

target_search = "Hotel"
target_radius = 5000
target_type = "lodging"

idx = 0
for index, row in hotel_df.iterrows():
    params = {
        "location": f"{row['Lat']}, {row['Lng']}",
        "keyword": target_search,
        "radius": target_radius,
        "type": target_type,
        "key": g_key
    }
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    response = requests.get(base_url, params=params)
    response_json = response.json()
    results = response_json['results']
    if len(results) > 0:
        name = response_json['results'][0]['name']
        hotel_df.iloc[idx, -1] = name
    idx = idx + 1

narrowed_city_df = hotel_df

In [26]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [28]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig
# Display figure

Map(configuration={'api_key': 'AIzaSyBfU8UHnBSO-gQJxRH2NVOc4a5kwzmr-u8'}, data_bounds=[(-50.90415628462267, -1â€¦